<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7cRZeGlqv1LqeCNfkeQUiasGmg8aStj4</string>
	<key>GCM_SENDER_ID</key>
	<string>266994090766</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.median.android.wqwnby</string>
	<key>PROJECT_ID</key>
	<string>beytei-me</string>
	<key>STORAGE_BUCKET</key>
	<string>beytei-me.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:266994090766:ios:9fc1a0d01a6b4bbd894d5f</string>
	<key>DATABASE_URL</key>
	<string>https://beytei-me-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>